// Brand Colors
$brand-blue:   rgb(12, 122, 192);
$brand-red:    rgb(179, 32, 35);
$brand-yellow: rgb(244, 167, 0);
$brand-grey:   rgb(84, 106, 120);

// Color Roles
$primary:   $brand-blue;
$secondary: $brand-grey;
$warning:   $brand-yellow;
$danger:    $brand-red;

// Typography
$font-mono:        'Courier', monospace;
$font-sans:        'Source Sans Pro', Arial, sans-serif;
$font-serif:       'Bree Serif', Times, serif;
$base-font-color:  $brand-grey;
$base-font-family: $font-sans;
$base-font-size:   16px;
$font-normal:      400;
$font-semibold:    600;
$font-bold:        700;
$base-line-height: 1.5;
$headings:         (6, 5, 4, 3, 2, 1);

// Borders
$base-border: 1px solid $brand-grey;
$base-radius: 0.25rem;

// Shadows
$base-box-shadow: rgba(darken($brand-grey, 20%), 0.2) 0 0 5px;